/********************************************
	PERSONNALISATION DE L'AFFICHAGE DU FORMULAIRE
*********************************************/
#GeneFormulaire {
  width: 760px;
  margin: auto;
  /* les titres des champs & zones de textes */

  /* MISES EN FORME DIVERSES */

  /* BOUTON DE VALIDATION DU FORMULAIRE */

}
#GeneFormulaire #generateur_formulaire,
#GeneFormulaire #generateur_resultat {
  margin: 10px auto;
  padding: 5px;
  background: #F0F0F0;
  border-bottom: 1px solid #E3E3E3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#GeneFormulaire #generateur_formulaire textarea,
#GeneFormulaire #generateur_resultat textarea {
  /* couleur de fond, forme, bordures */

  padding: 5px;
  border: 1px solid #ccc;
}
#GeneFormulaire #generateur_formulaire {
  /* les champs de texte */

}
#GeneFormulaire #generateur_formulaire label {
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
  font-weight: bold;
  font-size: 12px;
  font-variant: arial;
}
#GeneFormulaire #generateur_formulaire label.TitreChamp {
  font-family: Arial, Helvetica, sans-serif;
  color: #109987;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 4px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  text-align: right;
  width: 180px;
}
#GeneFormulaire #generateur_formulaire input {
  /* couleur de fond, forme, bordures */

  width: 500px;
  border: 1px solid #ccc;
  padding: 2px;
}
#GeneFormulaire #generateur_formulaire input[type=checkbox] {
  width: auto;
}
#GeneFormulaire #generateur_formulaire textarea {
  width: 500px;
}
#GeneFormulaire #generateur_formulaire .champ {
  margin: 5px 0;
  background-color: #F9F7F7;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px #ffffff rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px #ffffff rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px #ffffff rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 3px;
}
#GeneFormulaire #generateur_formulaire .big textarea {
  height: 350px;
}
#GeneFormulaire #generateur_formulaire .oblig label:before {
  content: "*";
}
#GeneFormulaire #generateur_formulaire .oblig .VerifComp label:before {
  content: "";
}
#GeneFormulaire #generateur_resultat {
  display: none;
  /* caché par défaut */

  text-align: center;
  font-size: 1.2em;
}
#GeneFormulaire #generateur_resultat textarea {
  display: block;
  width: 95%;
}
#GeneFormulaire h1 {
  margin: 5px;
  padding: 0;
  text-align: center;
  color: #333333;
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-variant: small-caps;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 1px 1px 0 #FFFFFF;
}
#GeneFormulaire h1:first-letter {
  color: #13B29C;
}
#GeneFormulaire h2 {
  text-align: center;
  color: #13B29C;
}
#GeneFormulaire .VerifComp {
  margin-left: 185px;
}
#GeneFormulaire .ChampAide {
  font-size: 10px;
  margin: 2px 0px;
}
#GeneFormulaire .ChampAide .admin {
  color: darkred;
}
#GeneFormulaire .Marge {
  margin-left: 190px;
}
#GeneFormulaire .souligne {
  text-decoration: underline;
}
#GeneFormulaire .validation {
  text-align: center;
}
#GeneFormulaire .validation button,
#GeneFormulaire .validation button:visited {
  border: 1px solid #cccccc;
  border-top-color: #dbdbdb;
  border-left-color: #dbdbdb;
  padding: 4px 12px;
  color: #333333;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #ededed, #e0e0e0);
  background-image: -moz-linear-gradient(top, #ededed, #e0e0e0);
  background-image: -o-linear-gradient(top, #ededed, #e0e0e0);
  background-image: linear-gradient(to bottom, #ededed, #e0e0e0);
}
#GeneFormulaire .validation button:hover,
#GeneFormulaire .validation button:visited:hover,
#GeneFormulaire .validation button:focus,
#GeneFormulaire .validation button:visited:focus {
  color: #808080;
  border: 1px solid #cccccc;
  border-top-color: #bababa;
  border-left-color: #bababa;
  background-color: #d4d4d4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#d4d4d4));
  background-image: -webkit-linear-gradient(top, #e0e0e0, #d4d4d4);
  background-image: -moz-linear-gradient(top, #e0e0e0, #d4d4d4);
  background-image: -o-linear-gradient(top, #e0e0e0, #d4d4d4);
  background-image: linear-gradient(to bottom, #e0e0e0, #d4d4d4);
}
#GeneFormulaire .validation button:active,
#GeneFormulaire .validation button:visited:active {
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ededed));
  background-image: -webkit-linear-gradient(top, #e0e0e0, #ededed);
  background-image: -moz-linear-gradient(top, #e0e0e0, #ededed);
  background-image: -o-linear-gradient(top, #e0e0e0, #ededed);
  background-image: linear-gradient(to bottom, #e0e0e0, #ededed);
}
