body {
  font-family: arial, sans-serif;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
}
code,
pre {
  display: inline;
}
.bodytotal,
.bodyline {
  text-align: left;
}
a:hover,
a {
  text-decoration: none!important;
}
#left {
  display: none;
}
.forumline {
  background-color: #f3f3f3;
  border-top: 1px solid #FFF;
  -webkit-box-shadow: 0 0 1px #d8d8d8;
  -moz-box-shadow: 0 0 1px #d8d8d8;
  box-shadow: 0 0 1px #d8d8d8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.module-advert {
  background: none!important;
  border: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
td.row1 {
  background-color: transparent;
}
textarea,
input {
  background-color: #eee;
  border: #c7c7c7 1px solid;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.quote,
.code,
.spoiler_closed,
.spoiler_content {
  background-color: #eee;
  border: #c7c7c7 1px solid;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
}
.code {
  color: #333;
}
.headermiddle {
  background: url(http://theme3.cssactif.com/middleheader.png) top center no-repeat;
}
div.sizelimiter {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.bodytop {
  background-image: url(http://theme3.cssactif.com/bodytop.png);
  height: 58px;
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  border-left: 1px solid #f3f3f4;
}
.topmenu a {
  background-image: url(http://theme3.cssactif.com/ui/bouton.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 13px;
  display: block;
  width: 100%;
  height: 34px;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
  line-height: 34px;
}
.topmenu a:hover {
  background-image: url(http://theme3.cssactif.com/ui/bouton_hover.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 13px;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
  line-height: 34px;
}
.topmenu a:active {
  background-image: url(http://theme3.cssactif.com/ui/bouton_active.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 13px;
  color: #FFF;
  text-shadow: 1px 1px 0 #000;
  line-height: 34px;
}
.searchbox {
  width: 260px;
  height: 35px;
  background-image: url(http://theme3.cssactif.com/ui/searchbox.png);
  background-repeat: no-repeat;
  background-position: center center;
  line-height: 35px;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  color: #717171;
  padding-left: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.searchbutton {
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.bodymiddle {
  background: #f0f0f0;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.bodybottom {
  background-color: #121616;
  border-top: 1px solid #000;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom: 1px solid #050506;
  color: #4f4f4f;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000;
  padding: 10px;
}
.bodybottom span.gensmall {
  color: #4f4f4f;
  font-size: 12px;
  text-shadow: 1px 1px 0 #000;
}
.bodybottom h4 {
  font-size: 12px;
  font-weight: 700;
  color: #717171;
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 0;
  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.bodybottom a {
  color: #717171;
}
.bodybottom a:hover {
  color: #f0f0f0;
}
/* ====================================== */
/* == QEEL (Version 2) ================== */
/* ====================================== */
#cssa-qeel {
  margin-bottom: 20px;
  margin-top: 10px;
}
.h4-qeel {
  color: #13B29C;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px;
  font-size: 14px;
}
.cssa-qeel-col {
  float: left;
}
.qeel-bloc {
  height: 220px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  border-left: 1px solid #414444;
  border-right: 1px solid #000000;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.qeel-bloc a span[style="color:#000000"] strong {
  color: #717171;
  padding: 0 1px;
  border-radius: 3px;
}
.qeel-bloc .nano {
  height: 200px;
  width: 300px;
}
.qeel-bloc .nano .content {
  padding: 0 10px;
}
.qeel-bloc .nano .pane {
  background: #333;
  width: 7px;
  margin: 0px;
}
.qeel-bloc .nano .slider {
  background: #ACACAC;
}
#qeel-stats .qeel-bloc {
  border-left: none;
  min-width: 180px;
}
#qeel-logged .qeel-bloc {
  width: 300px;
}
#qeel-logged .nano {
  height: 80px;
}
#qeel-history .qeel-bloc {
  width: 300px;
}
#qeel-groups .qeel-bloc {
  border-right: none;
  width: 140px;
}
#qeel-groups a {
  display: block;
  text-align: center;
  background-color: #343535;
  margin-bottom: 2px;
  border-bottom: 1px solid #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
#qeel-groups a:hover {
  background-color: #454646;
}
.qeel-stat-nb,
.qeel-nbonline .qeel-stat-nb > div {
  color: #8c8c8c;
  font-size: 42px;
  text-shadow: 1px 1px 2px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  text-align: right;
}
.qeel-stat-nb strong,
.qeel-nbonline .qeel-stat-nb > div strong {
  font-weight: 400;
}
.qeel-stat-nom,
.qeel-nbonline .qeel-stat-nb {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  top: -10px;
}
.qeel-nbonline {
  text-align: right;
  margin-top: 15px;
}
.qeel-nbonline .qeel-stat-nb {
  white-space: nowrap;
  font-size: 9px;
}
.qeel-nbonline .qeel-stat-nb > div {
  float: right;
  line-height: 34px;
  padding-left: 5px;
}
.qeel-last {
  display: block;
}
.qeel-last .qeel-stat-nom {
  top: 10px;
  margin-top: -10px;
}
.qeel-last .qeel-stat-nb {
  font-size: 30px;
}
/* ====================================== */
/* == //////////////// ================== */
/* ====================================== */
.forumlogo {
  width: 1040px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.forumbordure {
  background-color: #109987;
  padding: 5px;
  width: 1042px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: inset 1px 1px 1px 0 #0f8576;
  -moz-box-shadow: inset 1px 1px 1px 0 #0f8576;
  box-shadow: inset 1px 1px 1px 0 #0f8576;
  border-top: 1px #0f8576 solid;
  border-bottom: 1px #63cdbf solid;
}
/* FORUMS ------------------------------------------------------------------------ */
.forumline th {
  color: #109987;
  text-shadow: 1px 1px 0 #FFF;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -20px;
}
.forumbloc {
  width: 770px;
  background: #f0f0f0;
  min-height: 100px;
}
.forumcontainer {
  width: 770px;
  min-height: 150px;
}
.boxgrid {
  width: 330px;
  height: 120px;
  overflow: hidden;
}
.boxcaption {
  height: 120px;
  width: 330px;
  opacity: .8;
  display: none;
  filter: progid:dximagetransform.microsoft.alpha(Opacity=80);
  -ms-filter: progid:dximagetransform.microsoft.alpha(Opacity=80);
}
div.secondarytitle,
td.secondarytitle {
  width: 770px;
  text-align: center;
  background: url(http://theme3.cssactif.com/forum/categorie.png) no-repeat center center;
  margin: 20px 0 10px 0;
}
div.secondarytitle h2,
td.secondarytitle h2 {
  color: #109987;
  text-shadow: 1px 1px 0 #FFF;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 400;
  background: #f0f0f0;
}
.secondarytitle h2 {
  color: #FFF;
  font-size: 12px;
  font-family: arial, sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000;
  filter: dropshadow(color=#f2f1f1, offx=1, offy=1);
  padding-left: 5px;
}
div.secondarytitle img,
td.secondarytitle img {
  background: #f0f0f0;
}
.forummain {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 3px 3px 0;
}
.listeforums {
  font-size: 1px;
  line-height: 0;
}
.listeforums a {
  padding-left: 3px;
  padding-right: 3px;
  color: #646464;
  font-family: Arial, sans-serif;
  display: block;
  line-height: 14px;
  font-size: 11px;
  background-color: #f6f6f6;
  text-shadow: 1px 1px 0 #FFF;
  -webkit-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
  transition: padding-left 0.2s linear 0.1s, color 0.1s linear 0.1s, background-color 0.2s linear 0.1s;
  -moz-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
}
.listeforums a:before {
  content: "- ";
}
.listeforums a:hover {
  font-size: 11px;
  padding-left: 5px;
  padding-right: 3px;
  -webkit-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
  transition: padding-left 0.2s linear 0.1s, color 0.1s linear 0.1s, background-color 0.2s linear 0.1s;
  -moz-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
}
/* boite contenant les sous forums */
/* Mise en forme du scroll sur les sous forums */
.box-sousforums .nano {
  background: #f6f6f6 url(http://theme3.cssactif.com/no_sousforum.png) no-repeat top center;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0 1px 0 #d9d9d9;
  -moz-box-shadow: 0 1px 0 #d9d9d9;
  box-shadow: 0 1px 0 #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 80px;
  width: 150px;
}
.box-sousforums .nano .content {
  padding: 5px;
}
.box-sousforums .nano .pane {
  background: #EAEAEA;
  width: 7px;
  margin: 3px;
}
.box-sousforums .nano .slider {
  background: #ACACAC;
}
.forumdesc {
  text-shadow: 0 1px 1px #FFF;
  color: #6c6c6c;
  text-align: justify;
  font-size: 11px;
  padding-right: 10px;
}
.forumdesc img {
  margin: 3px;
}
.forumdetails {
  text-shadow: 0 1px 1px #FFF;
  color: #6c6c6c;
  text-align: justify;
  font-size: 11px;
}
.forumname {
  color: #3e3e3e;
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  text-shadow: 1px 1px 0 #FFF;
  margin-bottom: 5px;
  -webkit-transition: color .20s linear .1s;
  transition: color .10s linear .1s;
  -moz-transition: color .20s linear .1s;
}
.forumname:hover {
  color: #109987;
  -webkit-transition: color .20s linear .1s;
  transition: color .10s linear .1s;
  -moz-transition: color .20s linear .1s;
}
.forumlastpost {
  text-shadow: 0 1px 1px #FFF;
  color: #6c6c6c;
  text-align: center;
  font-size: 11px;
}
.forumlastpost:first-line {
  font-size: 120%;
}
.forumstats {
  text-shadow: 0 1px 1px #FFF;
  color: #C1C1C1;
  font-size: 10px;
  font-style: italic;
  position: relative;
  top: -1px;
  padding-left: 10px;
}
/* CATÉGORIES ------------------------------------------------------------------------ */
/*.menugauche a {
	background:url(http://theme3.cssactif.com/ui/menugauche.png) no-repeat center right;
	display:block;
	
}*/
.menugauche a.btn {
  width: 100px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  padding: 0 5px;
  text-align: center;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
}
.menucentre a {
  background: url(http://theme3.cssactif.com/ui/menucentre.png) no-repeat center center;
  display: block;
  width: 101px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  text-align: center;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
}
.menudroite a {
  background: url(http://theme3.cssactif.com/ui/menudroite.png) no-repeat left center;
  display: block;
  width: 100px;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  text-align: center;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
}
#indextime span.gensmall {
  color: #b0b0b0;
  text-shadow: 1px 1px 0 #FFF;
}
.indexmenu {
  background-color: #f9f9f9;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
div.catname:first-letter {
  color: #fece08;
}
.forumstatus {
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 8px;
  text-transform: uppercase;
  color: #b5b5b5;
}
/* LISTE DES SUJETS ------------------------------------------------------------------------ */
.topiclistrow {
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  border: 1px solid #cecece;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  color: #787878;
  padding: 3px;
}
.forumcentercell {
  border-left: 1px solid #cecece;
  padding-left: 20px;
}
.topiclistrow span {
  color: #787878;
}
a.topictitle {
  color: #787878;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}
/* AFFICHAGE D''UN MESSAGE ------------------------------------------------------------------------ */
.viewtopiccorps {
  background-color: #f6f6f6;
  border: 1px solid #cecece;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
}
.viewtopicfooter {
  background: url(http://theme3.cssactif.com/js/slider/img/panel.jpg) repeat-x bottom center #f0f0f0;
  height: 45px;
  vertical-align: middle;
  color: #686868;
  text-shadow: 1px 1px 0 #FFF;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.viewtopicfooter span.gensmall {
  color: #686868;
}
.viewtopicsignature {
  background: #f0efef;
  border-top: 1px solid #cbcbcb;
  padding: 5px;
}
.postbody {
  text-align: justify;
  min-height: 90px;
  padding: 10px;
}
a.postlink {
  color: #13b29c!important;
}
a.postlink:hover {
  color: #109987!important;
}
.signature_div {
  line-height: 1px;
  margin: 3px;
}
.signature_vraie_div {
  line-height: normal;
  max-height: 200px;
  max-width: 550px;
  overflow: auto;
  overflow-x: hidden;
}
.avacadre {
  height: 100px;
  width: 100px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 0 #cccccc;
  -moz-box-shadow: 0 2px 0 #cccccc;
  box-shadow: 0 2px 0 #cccccc;
  padding: 3px;
}
.avaonline {
  z-index: 999;
  position: absolute;
  margin-top: 80px;
  margin-left: 90px;
}
.avalabel span {
  color: #109987!important;
  text-shadow: 1px 1px 0 #FFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px!important;
}
.avainfo {
  font-size: 8px;
}
.pointebulle {
  position: absolute;
  margin-left: 118px;
  margin-top: 40px;
}
.avagrid {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  float: left;
}
.msgprofil {
  padding-right: 44px;
}
.avaboxcaption {
  text-align: center;
  padding-top: 5px;
  height: 100px;
  line-height: 50px;
  width: 100px;
  display: none;
  filter: progid:dximagetransform.microsoft.alpha(Opacity=80);
  -ms-filter: progid:dximagetransform.microsoft.alpha(Opacity=80);
}
div.infobulle_avatar div {
  display: none;
}
.avapseudo {
  padding-top: 5px;
  text-shadow: 1px 1px 0 #FFF;
  font-size: 13px;
  font-variant: small-caps;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
  width: 106px;
}
.avapseudo strong {
  font-weight: 400;
}
.avarank {
  color: #686868;
  font-size: 11px;
  text-shadow: 1px 1px 0 #FFF;
  text-align: center;
}
div.bouton_contact,
div.bouton_profil {
  background-image: url(http://theme3.cssactif.com/ui/bouton.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 13px;
  text-align: center;
  display: block;
  width: 83px;
  height: 34px;
  color: #717171;
  text-shadow: 1px 1px 0 #FFF;
  line-height: 34px;
  cursor: help;
  padding: 2px;
}
div.conteneur_profil {
  position: absolute;
}
div.infobulle_contact,
div.infobulle_profil {
  width: 240px;
  display: none;
  float: left;
  padding: 5px;
}
/* COLONNE DE GAUCHE ------------------------------------------------------------------------ */
.leftside {
  background-color: #232b2b;
  border-left: 1px solid #000;
  border-bottom: 1px solid #272e2e;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  color: #f0f0f0;
  font-size: 12px;
  padding: 10px 5px;
}
.leftside a {
  color: #999;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
.leftside a:hover {
  color: #999;
}
.leftside h4 {
  font-size: 12px;
  font-weight: 700;
  color: #717171;
  font-family: Arial, sans-serif;
  padding-left: 5px;
  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  margin: 15px 5px 5px;
}
.leftside hr {
  height: 1px;
  border: 0px;
  border-bottom: 1px solid #717171;
  border-top: 1px solid #000000;
}
.leftside .lien-chatbox {
  margin-bottom: 30px;
  position: relative;
}
.leftside .lien-chatbox > a {
  background: url('http://theme3.cssactif.com/js/slider/img/sample_slides/thumb_chat.png') no-repeat right top;
  padding-right: 38px;
  line-height: 32px;
  font-size: 30px;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: right;
  display: block;
}
.leftside .lien-chatbox  > div {
  position: absolute;
  display: block;
  top: 40px;
  right: 15px;
  width: 150px;
  background: #000;
  color: #999;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: scale(0) rotate(12deg);
  font-size: 10px;
}
.leftside .lien-chatbox  > div:after {
  display: block;
  content: " ";
  width: 0;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  position: absolute;
  top: -8px;
  right: 5px;
}
.leftside .lien-chatbox:hover  > div,
.leftside .lien-chatbox:focus  > div {
  z-index: 500;
  opacity: 1;
  transform: scale(1) rotate(0);
  cursor: default;
}
#partenaires-or {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px;
}
#partenaires-or .links-partenaires {
  margin: 10px 0;
  text-align: center;
  font-size: 11px;
}
.bloc-partenaire {
  font-size: 12px;
  margin: 5px 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  padding: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: none;
}
.bloc-partenaire img {
  float: left;
  margin-right: 5px;
  background-color: #333;
  padding: 1px;
}
.bloc-partenaire a {
  color: #fff;
}
.bloc-partenaire .gensmall {
  color: #999999;
}
.bloc-partenaire:hover {
  background: #000;
}
.menulien {
  line-height: 0;
  margin-left: 5px;
  margin-right: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #717171;
}
.menulien img {
  margin-right: 10px;
  display: none;
}
.menulien a {
  color: #f0f0f0;
  background: url(http://theme3.cssactif.com/ui/bullet.png) no-repeat 10px center;
  font-family: Arial, sans-serif;
  display: block;
  text-align: left;
  text-shadow: 1px 1px 0 #000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
  font-size: 12px;
  padding-left: 30px;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #000;
  -webkit-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
  transition: padding-left 0.2s linear 0.1s, color 0.1s linear 0.1s, background-color 0.2s linear 0.1s;
  -moz-transition: padding-left 0.2s linear 0.1s, color 0.2s linear 0.1s, background-color 0.2s linear 0.1s;
}
.menulien a:hover {
  padding-left: 50px;
  color: #FFF;
  background-color: #191f1f;
}
/* --- TWITTER --- */
#tweet {
  width: 100%;
  font-size: 18px;
  font-style: italic;
}
#tweet ul {
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#tweet ul li {
  margin-bottom: 10px;
  color: #b0b0b0;
  font-family: Georgia, serif;
  text-shadow: 1px 1px 0 #FFF;
  padding: 3px;
}
/* AFFICHAGE DES PARTENAIRES */
.pamessage .toppartenaire {
  border: 1px solid #cbcbcb!important;
  background-color: #f9f9f9;
  padding: 2px;
}
/* ----------------------------- FORME.VALL */
div.contenu {
  border-left: 5px solid #fece08;
  padding: 10px;
  background-color: #f6f6f6;
}
fieldset.contenu {
  border: 1px dotted #c50809;
  padding: 0;
}
legend.contenu {
  font-variant: small-caps;
  color: #c50809;
  font-weight: bold;
}
.important {
  color: #464646;
  text-shadow: 0 1px 1px #FFFFFF;
  font-weight: bold;
}
.list-class-td1,
.post-td2 {
  background-color: #ececec;
}
.list-class-col1,
.post-td1 {
  background-color: #E3E3E3;
}
.list-class-col2,
.post-th1 {
  background-color: #13B29C;
}
.formu {
  color: #13B29C;
  text-shadow: 0 1px 1px #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Trebuchet MS, sans-serif;
}
/* ----------------------------- TAG.VALL */
/* on limite la taille des avatars */
.postdetails img {
  max-width: 100px;
  max-height: 100px;
}
/* *******************************************
MISE EN PAGE ANCIENS CODES A COPIER COLLER & TUTOS
********************************************** */
.codetab_title {
  color: #333333;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  letter-spacing: 5px;
  font-variant: small-caps;
  text-align: center;
  font-size: 18px;
}
.codetab_title:first-letter {
  color: #109987;
}
.codetab_cell {
  vertical-align: top;
  width: 260px;
}
.codetab {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F0F0F0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
  padding: 5px;
}
.codetab_des {
  padding: 5px;
  text-indent: 10px;
  width: 290;
  font-size: 10px;
  color: #634E4E;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.codetab_preview {
  color: #109987;
  text-shadow: 1px 1px 0 #FFFFFF;
  font-size: 11px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 2px;
  padding-left: 3px;
}
.codetab_preview_sub {
  color: #464646;
  text-shadow: 0 1px 1px #FFFFFF;
  font-family: Trebuchet MS, sans-serif;
  margin-bottom: 1px;
  padding-right: 10px;
  text-align: right;
}
.codetab_preview_div {
  background-color: #F9F7F7;
  border: #E3E3E3 1px solid;
  padding: 5px;
  margin: 10px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.codetab_code_div {
  padding: 5px;
  margin: 10px;
  background-color: #F9F7F7;
  border: #E3E3E3 1px solid;
  min-height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* *********************************************
MISE EN FORME MESSAGE D'ACCUEIL
************************************************ */
div.msgaccueil {
  background-color: #6c6c6c;
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: inset 0 0 10px 5px #585858;
  -moz-box-shadow: inset 0 0 10px 5px #585858;
  box-shadow: inset 0 0 10px 5px #585858;
}
table.msgaccueil td {
  background-color: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #d8d8d8;
}
/* PA */
td.pamessage {
  background-color: none;
  border-top: none;
  border-bottom: none;
  color: #686868;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-align: justify;
  font-size: 11px;
}
img.pamessage {
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
  padding: 2px;
  float: left;
  margin: 3px;
}
.pamessage h6 {
  margin: 3px;
  font-size: 11px;
}
.pachoix {
  display: block;
  text-align: center;
}
.pachoix img {
  border: 1px solid #cbcbcb!important;
  background-color: #f9f9f9;
  padding: 2px;
  margin-bottom: 10px;
}
td.pamessage em {
  display: block;
  text-align: right;
}
td.paavenir {
  background: none;
  border: 1px dashed #cbcbcb ;
  text-align: center;
  font-size: 11px;
  padding: 20px;
  color: #686868;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.papartenaire td {
  background-color: #dfdfdf;
  width: 50px;
  height: 18px;
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
  padding: 2px;
  cursor: sw-resize;
}
.papartenaire td:hover {
  width: 88px;
  height: 31px;
  position: absolute;
  margin-left: -19px;
  margin-top: -6px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.papartenaire td:hover img {
  width: 88px;
  height: 31px;
}
.papartenaire img {
  width: 50px;
  height: 18px;
}
.msgaccueil #gallery {
  /* CSS3 Rounded Corners */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border-top: 1px solid #FFFFFF;
  background: url(http://theme3.cssactif.com/js/slider/img/panel.jpg) repeat-x bottom center #f0f0f0;
  /* The width of the gallery */

  width: 750px;
  overflow: hidden;
}
.msgaccueil #slides {
  /* This is the slide area */

  height: 200px;
  /* jQuery changes the width later on to the sum of the widths of all the slides. */

  width: 750px;
  overflow: hidden;
}
.msgaccueil .slide {
  float: left;
  height: 200px;
  width: 750px;
  text-align: justify;
}
.msgaccueil #menu {
  height: 45px;
}
.msgaccueil #main {
  margin: 10px auto;
  width: 750px;
}
.msgaccueil ul {
  margin: 0;
  padding: 0;
}
.msgaccueil li {
  width: 60px;
  display: inline-block;
  list-style: none;
  height: 45px;
  overflow: hidden;
}
.msgaccueil li.inact:hover {
  background: url(http://theme3.cssactif.com/js/slider/img/active_bg.png) repeat;
}
.msgaccueil li.act,
.msgaccueil li.act:hover {
  background: url(http://theme3.cssactif.com/js/slider/img/active_bg.png) no-repeat;
}
.msgaccueil li.act a {
  cursor: pointer;
}
.msgaccueil li a {
  display: block;
  background: url(http://theme3.cssactif.com/js/slider/img/divider.png) no-repeat right;
  height: 37px;
  padding-top: 8px;
  cursor: pointer;
}
.msgaccueil .fbar {
  /* The left-most vertical bar, next to the first thumbnail */

  width: 2px;
  background: url(http://theme3.cssactif.com/js/slider/img/divider.png) no-repeat right;
}
.msgaccueil a img {
  border: none;
}
.cssactif-photo {
  width: 165px;
  height: 120px;
  background-color: #F9F9F9;
  border: 1px solid #CBCBCB;
  float: left;
  margin: 3px;
  padding: 2px;
}
.cssactif-photo:hover .cssactif-photo_couvert {
  display: block;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.cssactif-photo_couvert {
  display: none;
  position: absolute;
  padding: 5px;
  height: 110px;
  width: 155px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=0);
  background-color: transparent;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  z-index: 999;
}
.cssactif-photo_couvert:hover {
  padding: 5px;
  display: block;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  background-color: #000000;
  filter: alpha(opacity=80);
}
.cssactif-photo_couvert h4 {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0 #000000;
  margin-bottom: 10px;
  padding: 0;
}
.cssactif-photo_couvert p {
  font: 11px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #aaa;
  text-shadow: 1px 1px 0 #000000;
  margin: 0;
  padding: 0;
}
/* CHATBOX */
body.chatbox {
  background-color: #f0f0f0!important;
}
body.chatbox table {
  background-color: #f0f0f0!important;
}
body.chatbox .cattitle {
  background: url(http://theme3.cssactif.com/js/slider/img/sample_slides/chat_expand.png) top center no-repeat;
  width: 20px;
  height: 30px;
  display: block;
}
body.chatbox .cattitle strong {
  display: none;
}
body.chatbox #chatbox_members {
  border-right: 1px solid #d8d8d8;
}
body.chatbox #chatbox {
  border-left: 1px solid #ffffff;
  text-align: left;
}
body.chatbox #message {
  background-color: #eeeeee;
  border: #c7c7c7 1px solid;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* PAGE D'ACCUEIL */
.pageaccueil {
  color: #686868;
  font-size: 11px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-align: justify;
}
.pageaccueil h3 {
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 16px;
}
.pageaccueil td {
  padding-bottom: 20px;
}
#vraie_navigation_div {
  display: none;
}
.twtr-hd,
.twtr-user {
  display: none!important;
}
/**************************************************************
TAGS DE MODERATION
*************************************************************** */
.drop,
.nb,
.search,
.redirect,
.alert,
.lock,
.ok {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  width: 80%;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  margin: 5px auto;
  padding: 3px 3px 3px 40px;
  min-height: 35px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
}
.drop .postbody,
.nb .postbody,
.search .postbody,
.redirect .postbody,
.alert .postbody,
.lock .postbody,
.ok .postbody {
  font-size: 10px;
}
.singleLine {
  line-height: 35px;
}
.drop {
  background-image: url(http://files.cssactif.com/tag/drop.png);
  background-color: #e8e8e9;
  border: #858484 1px solid;
  color: #858484;
}
.ok {
  background-image: url(http://files.cssactif.com/tag/ok.png);
  background-color: #e5f684;
  border: #438600 1px solid;
  color: #438600;
}
.search {
  background-image: url(http://files.cssactif.com/tag/search.png);
  background-color: #a8effe;
  border: #539ad6 1px solid;
  color: #539ad6;
}
.redirect {
  background-image: url(http://files.cssactif.com/tag/redirect.png);
  background-color: #f0f1f2;
  border: #aaaeb1 1px solid;
  color: #aaaeb1;
}
.alert {
  background-image: url(http://files.cssactif.com/tag/avert.png);
  background-color: #ffb4a0;
  border: #bf3727 1px solid;
  color: #bf3727;
}
.nb {
  background-image: url(http://files.cssactif.com/tag/nb.png);
  background-color: #fcefc9;
  border: #cc9e3a 1px solid;
  color: #cc9e3a;
}
.lock {
  background-image: url(http://files.cssactif.com/tag/lock.png);
  background-color: #fff0b1;
  border: #b67935 1px solid;
  color: #b67935;
}
table.nb {
  width: 100%;
}
/**************************************************************
FAQ DES TUTOS
*************************************************************** */
.faq {
  background-color: #e6e6e6;
  border: 1px solid #d6d6d6;
  padding: 5px;
}
.faq:after {
  clear: both;
  content: "";
  display: table;
}
.faq2 {
  padding-top: 5px;
}
.question,
.reponse {
  text-align: center;
  float: left;
  margin-right: 5px;
  font-size: 20px;
  color: #fece08;
  font-family: georgia;
  color: #686868;
  text-shadow: 1px 1px 0 #FFFFFF;
  font-style: italic;
}
/**************************************************************
???
*************************************************************** */
#plus_menu .forumline {
  z-index: 999!important;
}
#plus_menu {
  z-index: 999!important;
}
/* *******************************************
(début) Styles pour la colorisation des codes 
********************************************** */
.str {
  color: #080;
}
.kwd {
  color: #008;
}
.com {
  color: #800;
}
.typ {
  color: #606;
}
.lit {
  color: #066;
}
.pun {
  color: #660;
}
.pln {
  color: #000;
}
.tag {
  color: #008;
}
.atn {
  color: #606;
}
.atv {
  color: #080;
}
.dec {
  color: #606;
}
pre.prettyprint {
  padding: 2px;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eeeeee;
}
@media print {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun {
    color: #440;
  }
  .pln {
    color: #000;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
/* *******************************************
(fin) Styles pour la colorisation des codes 
********************************************** */
/* **********************************************
SCROLLBARS : Plugin NanoScroller
**************************************************/
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano .content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.nano > .pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano:hover > .pane,
.pane.active,
.pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */

  opacity: 0.99;
}
/* *******************************************
MISE EN PAGE CONTENU DES MESSAGES
********************************************** */
.titlelist,
.titre,
.postbody h1 {
  color: #333333;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  letter-spacing: 5px;
  font-variant: small-caps;
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.titlelist:first-letter,
.titre:first-letter,
.postbody h1:first-letter {
  color: #13b29c;
}
.subtitre,
.soustitre {
  color: #333333;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 16px;
}
.postbody h1 small {
  color: #333333;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0 #FFFFFF;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 16px;
  display: block;
  font-variant: normal;
  letter-spacing: normal;
  font-weight: normal;
  border-top: 1px dashed #13B29C;
  margin-top: 4px;
}
/* ********************************************
MISE EN PAGE COMMUNE DES TUTOS/DE/DECRYPTAGES
*********************************************** */
.cssaCommun {
  margin: 5px auto;
  font-size: 12px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
.cssaCommun .bloc {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F0F0F0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
  padding: 5px;
}
.cssaCommun .quote {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  color: #000000;
}
.cssaCommun table.cssaTableDemo {
  width: 100%;
}
.cssaCommun table.cssaTableDemo td {
  border: 1px solid #109987;
  padding: 4px;
}
.cssaCommun table.cssaTableDemo td.code {
  border: 1px solid #c7c7c7;
}
.cssaCommun table.cssaTableDemo td td {
  border: none;
}
.cssaCommun table.cssaTableDemo th {
  background: #13B29C;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 0 #109987;
}
.cssaCommun h1,
.cssaCommun h2,
.cssaCommun h3,
.cssaCommun h4,
.cssaCommun h5,
.cssaCommun h6 {
  margin: 0 2px;
  font-family: Arial, sans-serif;
  padding: 0;
}
.cssaCommun h1 {
  color: #333333;
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.cssaCommun h1 small {
  display: block;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  font-style: italic;
}
.cssaCommun h2 {
  color: #109987;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 2px;
  padding-left: 3px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  margin-top: 25px;
}
.cssaCommun h3 {
  font-size: 13px;
  text-transform: uppercase;
  text-align: left;
  color: #109987;
  border-bottom: 1px solid #109987;
  text-shadow: 1px 1px 0 #FFFFFF;
  font-weight: normal;
}
.cssaCommun h4,
.cssaCommun h5,
.cssaCommun h6 {
  font-size: 13px;
  text-align: left;
  color: #109987;
  border-bottom: 1px dashed #109987;
  text-shadow: 1px 1px 0 #FFFFFF;
  font-weight: normal;
  margin-left: 25px;
}
.cssaCommun h4:first-letter {
  font-size: 15px;
  color: #000000;
}
.cssaCommun h5 {
  margin-left: 30px;
  font-size: 12px;
}
.cssaCommun h6 {
  margin-left: 35px;
  font-size: 12px;
}
.cssaCommun .infos-generales {
  margin: 0;
}
.cssaCommun .infos-generales dt {
  font-size: 11px;
  display: inline-block;
  color: #109987;
  font-family: arial, sans-serif;
  font-weight: normal;
  margin-top: 2px;
  padding: 3px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-transform: uppercase;
  width: 100px;
  text-align: right;
  vertical-align: top;
}
.cssaCommun .infos-generales dd {
  display: inline-block;
  width: 370px;
  background-color: #F9F7F7;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  margin-left: 10px;
  padding: 3px;
  margin-top: 2px;
}
/* *******************************************
MISE EN PAGE CODES "DIRECTEMENT EXPLOITABLES"
********************************************** */
.direxploitable {
  width: 520px;
  background-color: #F0F0F0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #E3E3E3;
  border-top: 1px solid #FFFFFF;
  padding: 5px;
}
.direxploitable h1 {
  letter-spacing: 5px;
}
.direxploitable .header {
  height: 200px;
  position: relative;
}
.direxploitable .contenu,
.direxploitable span.data {
  background-color: #F9F7F7;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  padding: 3px;
  margin: 5px 0;
}
.direxploitable .desc {
  position: absolute;
  left: 5px;
  top: 0;
  width: 250px;
}
.direxploitable .demo {
  position: absolute;
  right: 5px;
  top: 0;
  width: 250px;
}
.direxploitable .desc .contenu,
.direxploitable .demo .contenu {
  height: 150px;
  overflow: auto;
}
.direxploitable span.data {
  display: block;
}
.direxploitable span.data:before {
  font-variant: small-caps;
  display: inline-block;
  width: 110px;
  text-align: right;
  padding-right: 5px;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.direxploitable span.createur:before {
  content: "Code proposé par : ";
}
.direxploitable span.datecrea:before {
  content: "Date de création : ";
}
.direxploitable span.compatib:before {
  content: "Code testé sous : ";
}
.direxploitable span.valid:before {
  content: "Validé par : ";
}
.direxploitable span.changelog:before {
  content: "Modifications : ";
}
/* *******************************************
MISE EN PAGE TUTORIELS PAS A PAS
********************************************** */
.css-tuto {
  width: 520px;
}
.css-tuto h2 {
  font-size: 14px;
  text-align: left;
}
/* *******************************************
MISE EN PAGE DECRYPTAGE
********************************************** */
.css-decrypt {
  width: 520px;
}
.css-decrypt h2 {
  font-size: 14px;
  text-align: left;
}
.css-decrypt .ListeVariables {
  margin: 0;
}
.css-decrypt .ListeVariables dt {
  font-size: 12px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: normal;
  padding: 3px;
  text-shadow: 1px 1px 0 #FFFFFF;
  text-align: left;
  border-top: #109987 1px dotted;
  padding-top: 5px;
  margin-top: 5px;
}
.css-decrypt .ListeVariables dt:first-child {
  border-top: none;
  padding-top: 3px;
  margin-top: 0;
}
.css-decrypt .ListeVariables dd {
  background-color: #F9F7F7;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  margin-left: 35px;
  padding: 3px;
  margin-top: 2px;
}
.css-decrypt .ListeVariables dd strong:first-child {
  font-style: italic;
  color: #990000;
}
/*********************************************
MISE EN PAGE PROJETS
********************************************** */
.cssaProjets {
  width: 520px;
}
.cssaProjets h2 {
  font-size: 14px;
  text-align: left;
}
.cssaProjets h4:first-letter {
  font-size: 15px;
  color: #000000;
}
.cssaProjets h5 {
  margin-left: 30px;
  font-size: 12px;
}
.cssaProjets h6 {
  color: #13B29C;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 1px #FFFFFF;
  text-transform: uppercase;
  display: inline;
  margin-left: 0;
  font-size: 12px;
}
.cssaProjets .formu {
  color: #13B29C;
  text-shadow: 0 1px 1px #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Trebuchet MS, sans-serif;
}
/* *******************************************
MISE EN PAGE ANALYSES
********************************************** */
.cssaAnalyse {
  width: 90%;
}
.cssaAnalyse h1 {
  letter-spacing: 5px;
}
.cssaAnalyse .blocCriteres dt {
  font-variant: small-caps;
  padding-right: 5px;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.cssaAnalyse .blocCriteres dd {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #13b29c;
}
.cssaAnalyse .blocCriteres .note {
  float: right;
}
.cssaAnalyse .blocCriteres .note em {
  border: 1px solid #CCCCCC;
  padding: 0 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-style: normal;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.cssaAnalyse .blocCriteres .note em.check {
  background: #13b29c;
  color: #FFFFFF;
  border-color: #109987;
}
.cssaAnalyse .blocCriteres .note:after {
  display: table;
  clear: both;
  content: "";
}
.cssaAnalyse .ana-note {
  border: 1px solid #CCCCCC;
  padding: 0 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-style: normal;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.cssaAnalyse span.data {
  background-color: #F9F7F7;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  padding: 3px;
  margin: 5px 0;
  display: block;
}
.cssaAnalyse span.data:before {
  font-variant: small-caps;
  display: inline-block;
  width: 110px;
  text-align: right;
  padding-right: 5px;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.cssaAnalyse span.infoana:before {
  content: "Analyse courante : ";
}
.cssaAnalyse span.infolast:before {
  content: "Analyse précédente : ";
}
.cssaAnalyse span.navig:before {
  content: "Réalisée sous : ";
}
.cssaAnalyse span.screen:before {
  content: "Capture(s) : ";
}
.cssaAnalyse span.comments:before {
  content: "Commentaires : ";
}
.cssaAnalyse div.total {
  text-align: right;
  font-size: 14px;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
}
.cssaAnalyse div.total:before {
  content: "Total : ";
  font-variant: small-caps;
  display: inline-block;
  width: 110px;
  text-align: right;
  padding-right: 5px;
  color: #464646;
  font-family: Trebuchet MS, sans-serif;
  text-shadow: 0 1px 1px #FFFFFF;
  font-size: 11px;
}
/* ***************************************************************
FIN DES MISES EN PAGE DES TEMPLATES DE CODES
****************************************************************** */
/* *******************************************
MISE EN PAGE MESSAGES ADMINISTRATIFS
********************************************** */
.cssaAdmin,
.cssadmin {
  margin: 0px 20px;
}
.cssaAdmin h2,
.cssadmin h2 {
  font-size: 14px;
  text-align: left;
  margin-top: 5px;
}
/* ***************************************************************
ET LE RESTE...
****************************************************************** */
.selectCode {
  float: right;
  cursor: pointer;
}
.cssfacebook {
  background: url(http://theme3.cssactif.com/facebook/fb-normal.png) no-repeat center center;
  width: 233px;
  height: 76px;
}
.cssfacebook:hover {
  background: url(http://theme3.cssactif.com/facebook/fb-hover.png) no-repeat center center;
  width: 233px;
  height: 76px;
}
.cssfacebook:active {
  background: url(http://theme3.cssactif.com/facebook/fb-active.png) no-repeat center center;
  height: 76px;
}
.annonces {
  text-align: center;
  padding: 0;
}
.qeelgroup a[style="color: #ffc600"] {
  color: #776161 !important;
}
/* Présentation du staff */
#cssactif-theContainer {
  width: 100%;
  clear: both;
  overflow: hidden;
  min-height: 300px;
}
#cssactif-thePanel {
  width: 200%;
  position: relative;
  padding: 20px;
}
#cssactif-theMenu {
  float: left;
  width: 50%;
  text-align: center;
}
#cssactif-theMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssactif-theMenu ul li {
  margin-bottom: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#cssactif-goBack {
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: italic;
  text-shadow: 1px 1px 0px #FFFFFF;
  cursor: pointer;
}
#cssactif-theContent div {
  display: none;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  text-shadow: 1px 1px 0px #FFFFFF;
}
.aSpacer {
  clear: both;
}
a.gr-fonda,
.gr-fonda,
.fonda,
.fonda a {
  color: #FF5900;
}
a.gr-admin,
.gr-admin,
.admin,
.admin a {
  color: #26A0BF;
}
a.gr-modo,
.gr-modo,
.modo,
.modo a {
  color: #7FB015;
}
a.gr-codeur,
.gr-codeur,
.codeur,
.codeur a {
  color: #701649;
}
a.gr-cstage,
.gr-cstage,
.cstage,
.cstage a {
  color: #C92482;
}
a.gr-specialiste,
.gr-specialiste {
  color: #776161;
}
a.gr-membre,
.gr-membre {
  color: #000000;
}
/* ====================================== */
/* = CONCOURS ET STAFF ================== */
/* ====================================== */
.statut-ouvert {
  background-color: #C6E4BE;
  border: #063 1px solid;
  text-align: center;
  color: #063;
}
.statut-ferme {
  background-color: #BC6767;
  border: #900 1px solid;
  text-align: center;
  color: #900;
}
.statut-encours {
  background-color: #f1ecb7;
  border: #d1c754 1px solid;
  text-align: center;
  color: #d1c754;
}
/* ====================================== */
/* ======= PARTENAIRES ================== */
/* ====================================== */
.partners-list {
  width: 700px;
  margin: 40px auto 0;
}
.partners-list img {
  display: inline-block;
  width: 88px;
  height: 31px;
  background: white;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.msg-banni {
  padding: 10px;
  margin: 5px 0;
  background-color: #F6F6F6;
  border: 1px solid #CECECE;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 0 0 #FFFFFF inset;
}
