﻿@black:             #000;
@white:             #fff;
@couleur-alert : #990000;
@color-bouton : #ededed; 

@import "mixins.less";

/********************************************
	PERSONNALISATION DE L'AFFICHAGE DU FORMULAIRE
*********************************************/


#GeneFormulaire {
	width:760px;
	margin:auto;

	#generateur_formulaire, #generateur_resultat {
		margin:10px auto;
		padding:5px;
		background:#F0F0F0;
		border-bottom: 1px solid #E3E3E3;
		.border-radius(5px);
		border-top: 1px solid #FFFFFF;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 12px;
		
		textarea {
		   /* couleur de fond, forme, bordures */
		   padding:5px;
		   border:1px solid #ccc;
		}
	}

	/* les titres des champs & zones de textes */
	#generateur_formulaire {

		label {
		   display:inline-block;
		   vertical-align: top;
		   padding-top:4px;
		   font-weight:bold;
		   font-size:12px;
		   font-variant:arial;
		   
		   &.TitreChamp {
				font-family: Arial,Helvetica,sans-serif;
				color: #109987;
				font-size: 11px;
				font-weight: normal;
				letter-spacing: 4px;
				text-shadow: 1px 1px 0 #FFFFFF;
				text-transform: uppercase;
				text-align:right;
				width:180px;
			}
		}

		/* les champs de texte */
		input {
		   /* couleur de fond, forme, bordures */
		   width:500px;
		   border:1px solid #ccc;
		   padding:2px;
		   
			&[type=checkbox] {
				width:auto;
			}
		}
		
		textarea {
			width:500px;
		}

		.champ {
			margin:5px 0;
			background-color: #F9F7F7;
			border: 1px solid #E3E3E3;
			.border-radius(2px);
			.box-shadow(0, 1px, 0, #FFFFFF);
			margin: 5px 0;
			padding: 3px;
		}
		
		.big  textarea {
			height:350px;
		}
		
		.oblig {
			label:before {
				content : "*";
			}
		}
	}

	#generateur_resultat {
		display:none; /* caché par défaut */
		text-align:center;
		font-size:1.2em;

		textarea {
			display:block;
			width:95%;
		}
	}

	/* MISES EN FORME DIVERSES */
	
	h1 {
		margin:5px;
		padding:0;
		text-align:center;
		color: #333333;
		font-family: Arial,sans-serif;
		font-size: 22px;
		font-variant: small-caps;
		letter-spacing: 5px;
		text-align: center;
		text-shadow: 1px 1px 0 #FFFFFF;
		
		&:first-letter {
			color: #13B29C;
		}
	}
	

	.VerifComp {
		margin-left:185px;
	}

	.ChampAide {
		font-size:10px;
		margin:2px 0px;
		
		.admin {
			color:darkred;
		}
	}

	.Marge {
		margin-left:190px;
	}
	
	.souligne {
		text-decoration:underline;
	}

	/* BOUTON DE VALIDATION DU FORMULAIRE */

	.validation {
		text-align:center;
		
		button, button:visited {
		border: 1px solid darken(@color-bouton, 13%);
		border-top-color: darken(@color-bouton, 7%);
		border-left-color: darken(@color-bouton, 7%);
		padding: 4px 12px;
		color: darken(@white,80%);
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		text-decoration: none;
		//text-shadow: 0 1px rgba(0,0,0, .75);
		cursor: pointer;
		//margin-bottom: 20px;
		line-height: 21px;
		.transition();
		.border-radius(4px);
		.css-gradient(@color-bouton,darken(@color-bouton, 5%));

			&:hover, &:focus {
				color: darken(@white,50%);
				border: 1px solid darken(@color-bouton, 13%);
				border-top-color: darken(@color-bouton, 20%);
				border-left-color: darken(@color-bouton, 20%);
				.css-gradient(darken(@color-bouton, 5%),darken(@color-bouton, 10%));
			}
			
			&:active {
				.css-gradient(darken(@color-bouton, 5%),@color-bouton);
			}	
		} 
	}	
   
}