<div class="cssaCommun cssaAdmin"><h1>Template des news</h1>
<h2>CSS (non compressé)</h2><div class="bloc">[code]		.cssaNews {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #000;
			background-color: #13b29c;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			border-top: 1px solid #12ceb4;
			border-bottom: 1px solid #0fa38f;
			margin:auto;
			width:580px;
		}

		.cssaNews h1, .cssaNews h2 {
			font-variant:normal;
			font-weight:normal;
			border:none;
			font-style:normal;
			letter-spacing:normal;
			line-height:normal;
		}

		.cssaNews p { margin : 0; line-height:1.6em;}

		.cssaNews-container {
			background-color: #109987;
			padding: 5px;
			width: 550px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			margin-left: auto;
			margin-right: auto;
			-webkit-box-shadow: inset 1px 1px 1px 0px #0f8576;
			-moz-box-shadow: inset 1px 1px 1px 0px #0f8576;
			box-shadow: inset 1px 1px 1px 0px #0f8576; 
			border-top: 1px #0f8576 solid;
			border-bottom: 1px #63cdbf solid;
		}

		.cssaNews-header, .cssaNews-footer {
			background: url(http://theme3.cssactif.com/bodytop.png) repeat-x #F0F0F0 top left;
			min-height: 58px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		.cssaNews-footer {
			background: #e3e4e3;
			background: -moz-linear-gradient(top,  #e3e4e3 0%, #f2f1f1 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e4e3), color-stop(100%,#f2f1f1));
			background: -webkit-linear-gradient(top,  #e3e4e3 0%,#f2f1f1 100%);
			background: -o-linear-gradient(top,  #e3e4e3 0%,#f2f1f1 100%);
			background: -ms-linear-gradient(top,  #e3e4e3 0%,#f2f1f1 100%);
			background: linear-gradient(to bottom,  #e3e4e3 0%,#f2f1f1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e4e3', endColorstr='#f2f1f1',GradientType=0 );
			background-image:none;
			border-top:1px solid #CBCBCB;
			text-align:center;
			color: #B0B0B0;
			font-family: Georgia,serif;
			text-shadow: 1px 1px 0 #FFFFFF;
			font-size: 18px;
			font-weight:normal;
			font-style: italic;
		}

		.cssaNews-btn {
			background-image: url(http://theme3.cssactif.com/ui/bouton.png);
			background-repeat: no-repeat;
			background-position: center center;
			font-size: 13px;
			width: 88px;
			height: 34px;
			color: #333333;
			text-shadow: 1px 1px 0px #FFFFFF;
			line-height: 34px;
			display:inline-block;
			text-align:center;
			float:left;
			margin-right:8px;
		}

		.cssaNews-headcontent, .cssaNews-footcontent {
			display:table-cell;
			height:58px;
			vertical-align:middle;
		}

		.cssaNews-footcontent {
			width:540px;
		}

		.cssaNews-slogan, h1.cssaNews-slogan {
			color: #B0B0B0;
			font-family: Georgia,serif;
			margin:0;
			padding:0;
			text-shadow: 1px 1px 0 #FFFFFF;
			font-style: italic;
			font-size: 18px;
			font-weight:normal;
			white-space:nowrap;
			line-height:34px;
		}

		.cssaNews-conteneur {
			background-color:#F0F0F0;
			padding:10px;
			text-align:justify;
			color: #686868;
			text-shadow: 1px 1px 0px #FFFFFF;
		}

		.cssaNews-titre {
			text-align: center;
			background:url(http://theme3.cssactif.com/forum/categorie.png) no-repeat center center;
			margin:10px 0 10px 0;
			padding:0;
			border:none;
			font-size:12px;
		}

		.cssaNews-titre > span {
			color: #109987;
			text-shadow: 1px 1px 0px #FFFFFF;
			font-size: 11px;
			letter-spacing: 4px;
			text-transform: uppercase;
			font-weight: normal;
			background: #f0f0f0;
			height: 20px;
			display: inline;
			padding: 3px;
		}

		.cssaNews-stats {
			 padding-top: 5px;
			 padding-left: 50px;
			 padding-right: 50px;
			 color:#000;
		}
[/code]</div>
<h2>HTML</h2><div class="bloc">[code]<div class="cssaNews"><!--
	--><a href="http://www.css-actif.com/" target="_parent"><!--
		--><img src="http://theme3.cssactif.com/logo.png" style="border: none;" /><!--
	--></a><!--

	--><div class="cssaNews-container"><!--
		--><div class="cssaNews-header"><!--
			--><div class="cssaNews-headcontent"><!--
				--><a href="http://www.css-actif.com" target="_parent" class="cssaNews-btn">CSSActif</a><!--
				--><a href="http://twitter.com/CSSActif" target="_parent" class="cssaNews-btn">@Twitter</a><!--
				--><h1 class="cssaNews-slogan">La renaissance du CSS orienté Forumactif.</h1><!--
			--></div><!--
		--></div><!--
		--><div class="cssaNews-conteneur"><!--
			--><p>Bonjour chers membres</p><!--
			--><p>Voici quelques nouvelles de CSSActif, à consulter sans modération. <img src="http://r12.imgfast.net/users/1211/10/76/28/smiles/215926.gif" /></p><!--

			--><h2 class="cssaNews-titre"><span>Statistiques</span></h2><!--

			--><div class="cssaNews-stats"><!--
				--><p>Nous avons <strong>4866</strong> utilisateurs enregistrés.</p><!--
				--><p>Nos membres ont posté un total de <strong>143615</strong> messages.</p><!--
				--><p>Ouverture le <strong>29 Août 2009</strong>.</p><!--
				--><p>Réouverture le <strong>27 Mars 2011</strong>.</p><!--
			--></div><!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

		--></div><!--

		--><div class="cssaNews-footer"><!--
			--><div class="cssaNews-footcontent"><!--
				-->Découvrez toutes les nouveautés sur <a href="http://www.css-actif.com/" style="color: #333333;text-decoration: underline;">CSSActif</a> !<!--
			--></div><!--
		--></div><!--

	--></div><!--
--></div>[/code]</div>
<h2>CSS (compressé) + HTML</h2><div class="bloc">[code]<style type="text/css">.cssaNews{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000;background-color:#13b29c;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-top:1px solid #12ceb4;border-bottom:1px solid #0fa38f;width:580px;margin:auto}.cssaNews h1,.cssaNews h2{font-variant:normal;font-weight:400;border:none;font-style:normal;letter-spacing:normal;line-height:normal}.cssaNews p{line-height:1.6em;margin:0}.cssaNews-container{background-color:#109987;width:550px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-left:auto;margin-right:auto;-webkit-box-shadow:inset 1px 1px 1px 0 #0f8576;-moz-box-shadow:inset 1px 1px 1px 0 #0f8576;box-shadow:inset 1px 1px 1px 0 #0f8576;border-top:1px #0f8576 solid;border-bottom:1px #63cdbf solid;padding:5px}.cssaNews-header,.cssaNews-footer{background:url(http://theme3.cssactif.com/bodytop.png) repeat-x #F0F0F0 top left;min-height:58px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.cssaNews-footer{background:linear-gradient(tobottom,#e3e4e30%,#f2f1f1100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e3',endColorstr='#f2f1f1',GradientType=0);background-image:none;border-top:1px solid #CBCBCB;text-align:center;color:#B0B0B0;font-family:Georgia,serif;text-shadow:1px 1px 0 #FFF;font-size:18px;font-weight:400;font-style:italic}.cssaNews-btn{background-image:url(http://theme3.cssactif.com/ui/bouton.png);background-repeat:no-repeat;background-position:center center;font-size:13px;width:88px;height:34px;color:#333;text-shadow:1px 1px 0 #FFF;line-height:34px;display:inline-block;text-align:center;float:left;margin-right:8px}.cssaNews-headcontent,.cssaNews-footcontent{display:table-cell;height:58px;vertical-align:middle}.cssaNews-footcontent{width:540px}.cssaNews-slogan,h1.cssaNews-slogan{color:#B0B0B0;font-family:Georgia,serif;text-shadow:1px 1px 0 #FFF;font-style:italic;font-size:18px;font-weight:400;white-space:nowrap;line-height:34px;margin:0;padding:0}.cssaNews-conteneur{background-color:#F0F0F0;text-align:justify;color:#686868;text-shadow:1px 1px 0 #FFF;padding:10px}.cssaNews-titre{text-align:center;background:url(http://theme3.cssactif.com/forum/categorie.png) no-repeat center center;border:none;font-size:12px;margin:10px 0;padding:0}.cssaNews-titre > span{color:#109987;text-shadow:1px 1px 0 #FFF;font-size:11px;letter-spacing:4px;text-transform:uppercase;font-weight:400;background:#f0f0f0;height:20px;display:inline;padding:3px}.cssaNews-stats{padding-top:5px;padding-left:50px;padding-right:50px;color:#000}</style><!--


--><div class="cssaNews"><!--
	--><a href="http://www.css-actif.com/" target="_parent"><!--
		--><img src="http://theme3.cssactif.com/logo.png" style="border: none;" /><!--
	--></a><!--

	--><div class="cssaNews-container"><!--
		--><div class="cssaNews-header"><!--
			--><div class="cssaNews-headcontent"><!--
				--><a href="http://www.css-actif.com" target="_parent" class="cssaNews-btn">CSSActif</a><!--
				--><a href="http://twitter.com/CSSActif" target="_parent" class="cssaNews-btn">@Twitter</a><!--
				--><h1 class="cssaNews-slogan">La renaissance du CSS orienté Forumactif.</h1><!--
			--></div><!--
		--></div><!--
		--><div class="cssaNews-conteneur"><!--
			--><p>Bonjour chers membres</p><!--
			--><p>Voici quelques nouvelles de CSSActif, à consulter sans modération. <img src="http://r12.imgfast.net/users/1211/10/76/28/smiles/215926.gif" /></p><!--

			--><h2 class="cssaNews-titre"><span>Statistiques</span></h2><!--

			--><div class="cssaNews-stats"><!--
				--><p>Nous avons <strong>4866</strong> utilisateurs enregistrés.</p><!--
				--><p>Nos membres ont posté un total de <strong>143615</strong> messages.</p><!--
				--><p>Ouverture le <strong>29 Août 2009</strong>.</p><!--
				--><p>Réouverture le <strong>27 Mars 2011</strong>.</p><!--
			--></div><!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

			--><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

			--> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

		--></div><!--

		--><div class="cssaNews-footer"><!--
			--><div class="cssaNews-footcontent"><!--
				-->Découvrez toutes les nouveautés sur <a href="http://www.css-actif.com/" style="color: #333333;text-decoration: underline;">CSSActif</a> !<!--
			--></div><!--
		--></div><!--

	--></div><!--
--></div>
[/code]</div></div>


<style type="text/css">.cssaNews{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#000;background-color:#13b29c;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border-top:1px solid #12ceb4;border-bottom:1px solid #0fa38f;width:580px;margin:auto}.cssaNews h1,.cssaNews h2{font-variant:normal;font-weight:400;border:none;font-style:normal;letter-spacing:normal;line-height:normal}.cssaNews p{line-height:1.6em;margin:0}.cssaNews-container{background-color:#109987;width:550px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-left:auto;margin-right:auto;-webkit-box-shadow:inset 1px 1px 1px 0 #0f8576;-moz-box-shadow:inset 1px 1px 1px 0 #0f8576;box-shadow:inset 1px 1px 1px 0 #0f8576;border-top:1px #0f8576 solid;border-bottom:1px #63cdbf solid;padding:5px}.cssaNews-header,.cssaNews-footer{background:url(http://theme3.cssactif.com/bodytop.png) repeat-x #F0F0F0 top left;min-height:58px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.cssaNews-footer{background:linear-gradient(tobottom,#e3e4e30%,#f2f1f1100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e3',endColorstr='#f2f1f1',GradientType=0);background-image:none;border-top:1px solid #CBCBCB;text-align:center;color:#B0B0B0;font-family:Georgia,serif;text-shadow:1px 1px 0 #FFF;font-size:18px;font-weight:400;font-style:italic}.cssaNews-btn{background-image:url(http://theme3.cssactif.com/ui/bouton.png);background-repeat:no-repeat;background-position:center center;font-size:13px;width:88px;height:34px;color:#333;text-shadow:1px 1px 0 #FFF;line-height:34px;display:inline-block;text-align:center;float:left;margin-right:8px}.cssaNews-headcontent,.cssaNews-footcontent{display:table-cell;height:58px;vertical-align:middle}.cssaNews-footcontent{width:540px}.cssaNews-slogan,h1.cssaNews-slogan{color:#B0B0B0;font-family:Georgia,serif;text-shadow:1px 1px 0 #FFF;font-style:italic;font-size:18px;font-weight:400;white-space:nowrap;line-height:34px;margin:0;padding:0}.cssaNews-conteneur{background-color:#F0F0F0;text-align:justify;color:#686868;text-shadow:1px 1px 0 #FFF;padding:10px}.cssaNews-titre{text-align:center;background:url(http://theme3.cssactif.com/forum/categorie.png) no-repeat center center;border:none;font-size:12px;margin:10px 0;padding:0}.cssaNews-titre > span{color:#109987;text-shadow:1px 1px 0 #FFF;font-size:11px;letter-spacing:4px;text-transform:uppercase;font-weight:400;background:#f0f0f0;height:20px;display:inline;padding:3px}.cssaNews-stats{padding-top:5px;padding-left:50px;padding-right:50px;color:#000}</style><!--


--><div class="cssaNews"><!--
   --><a href="http://www.css-actif.com/" target="_parent"><!--
      --><img src="http://theme3.cssactif.com/logo.png" style="border: none;" /><!--
   --></a><!--

   --><div class="cssaNews-container"><!--
      --><div class="cssaNews-header"><!--
         --><div class="cssaNews-headcontent"><!--
            --><a href="http://www.css-actif.com" target="_parent" class="cssaNews-btn">CSSActif</a><!--
            --><a href="http://twitter.com/CSSActif" target="_parent" class="cssaNews-btn">@Twitter</a><!--
            --><h1 class="cssaNews-slogan">La renaissance du CSS orienté Forumactif.</h1><!--
         --></div><!--
      --></div><!--
      --><div class="cssaNews-conteneur"><!--
         --><p>Bonjour chers membres</p><!--
         --><p>Voici quelques nouvelles de CSSActif, à consulter sans modération. <img src="http://r12.imgfast.net/users/1211/10/76/28/smiles/215926.gif" /></p><!--

         --><h2 class="cssaNews-titre"><span>Statistiques</span></h2><!--

         --><div class="cssaNews-stats"><!--
            --><p>Nous avons <strong>4866</strong> utilisateurs enregistrés.</p><!--
            --><p>Nos membres ont posté un total de <strong>143615</strong> messages.</p><!--
            --><p>Ouverture le <strong>29 Août 2009</strong>.</p><!--
            --><p>Réouverture le <strong>27 Mars 2011</strong>.</p><!--
         --></div><!--

         --><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

         --> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

         --><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

         --> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

         --><h2 class="cssaNews-titre"><span>Titre</span></h2><!--

         --> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sunt autem eos veniam corrupti. Obcaecati debitis expedita alias praesentium excepturi fugiat dolor minus quidem fugit vel optio accusantium veritatis ipsum! Recusandae ipsa et dolorem enim cupiditate consequatur eaque cum odit officiis ad. Beatae molestias totam incidunt officia eius nemo maxime! <!--

      --></div><!--

      --><div class="cssaNews-footer"><!--
         --><div class="cssaNews-footcontent"><!--
            -->Découvrez toutes les nouveautés sur <a href="http://www.css-actif.com/" style="color: #333333;text-decoration: underline;">CSSActif</a> !<!--
         --></div><!--
      --></div><!--

   --></div><!--
--></div>
