{JAVASCRIPT}


<table width="100%" cellpadding="0" cellspacing="0" align="center" border="0">
<tr>
<td>
<!-- BEGIN switch_user_login_form_header -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
	<!-- BEGIN switch_fb_connect_no -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
		<tr>
			<td class="row1" align="center">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
						<td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
						<td>
							<input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
							<span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
						</td>
					</tr>

					<tr>
						<td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
						<td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
						<td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- END switch_fb_connect_no -->

	<!-- BEGIN switch_fb_connect -->
	<table width="800" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
		<tr>
			<td valign="top" width="100%"  class="row1" align="center">
				<table width="100%">
					<tr>
						<td width="55%" valign="middle" align="right">
							<table class="right">
								<tr>
									<td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
									<td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
									<td>
										<input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
										<span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
									</td>
								</tr>

								<tr>
									<td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
									<td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
									<td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
								</tr>
							</table>
						</td>
						<td width="10%" align="center" valign="middle">
							<span class="genmed fb_or">{switch_user_login_form_header.switch_fb_connect.L_OR}</span>
						</td>
						<td width="35%" class="align_gauche"><fb:login-button size="large" onlogin="window.location='/facebook_connect.forum'" v="2" scope="{switch_user_login_form_header.switch_fb_connect.L_FB_PERMISSIONS}">{switch_user_login_form_header.switch_fb_connect.L_FB_LOGIN_BUTTON}</fb:login-button></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- END switch_fb_connect -->
</form>
<!-- END switch_user_login_form_header -->

{CHATBOX_TOP}
{BOARD_INDEX}


<!-- BEGIN switch_user_login_form_footer -->
<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
	<!-- BEGIN switch_fb_connect_no -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
		<tr>
			<td class="row1" align="center">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
						<td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
						<td>
							<input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
							<span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
						</td>
					</tr>

					<tr>
						<td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
						<td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
						<td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- END switch_fb_connect_no -->

	<!-- BEGIN switch_fb_connect -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="user_login_form forumline">
		<tr>
			<td valign="top" width="100%"  class="row1" align="center">
				<table width="100%">
					<tr>
						<td width="55%" valign="middle">
							<table class="right">
								<tr>
									<td><span class="genmed">{L_USERNAME}:</span>&nbsp;</td>
									<td><input class="post" type="text" size="10" name="username"/>&nbsp;</td>
									<td>
										<input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} />
										<span class="gensmall">{L_AUTO_LOGIN}</span>&nbsp;
									</td>
								</tr>

								<tr>
									<td><span class="genmed">{L_PASSWORD}:</span>&nbsp;</td>
									<td><input class="post" type="password" size="10" name="password"/>&nbsp;</td>
									<td>{S_HIDDEN_FIELDS}<input class="mainoption" type="submit" name="login" value="{L_LOGIN}" /></td>
								</tr>
							</table>
						</td>
						<td width="10%" align="center" valign="middle">
							<span class="genmed fb_or">{switch_user_login_form_footer.switch_fb_connect.L_OR}</span>
						</td>
						<td width="35%" class="align_gauche"><fb:login-button size="large" onlogin="window.location='/facebook_connect.forum'" v="2" scope="{switch_user_login_form_footer.switch_fb_connect.L_FB_PERMISSIONS}">{switch_user_login_form_footer.switch_fb_connect.L_FB_LOGIN_BUTTON}</fb:login-button></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- END switch_fb_connect -->
</form>
<!-- END switch_user_login_form_footer -->
  
<div class="indexmenu clearfix">
	 <div class="btn-group">
		    <a class="btn gensmall" href="{U_TODAY_ACTIVE}">Sujets du jour</a>
		    <a class="btn gensmall" href="{U_TODAY_POSTERS}">Posteurs du jour</a>
		    <a class="btn gensmall" href="{U_OVERALL_POSTERS}">Top posteurs</a>
	 </div>
	 <div class="btn-group right">
		    <a class="btn gensmall" href="{U_MARK_READ}">Tous lus</a>
		    <!-- BEGIN switch_on_index -->
		    	<!-- BEGIN switch_delete_cookies -->
		    	<a href="{switch_on_index.switch_delete_cookies.U_DELETE_COOKIES}"  class="btn gensmall">Effacer cookies</a>
		    	<!-- END switch_delete_cookies -->
			<!-- END switch_on_index -->
	 </div>
</div>

{CHATBOX_BOTTOM}
<br clear="all" />
</td></tr></table>

{AUTO_DST}

<!-- BEGIN switch_fb_index_login -->
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
FB.init({
	appId: '{switch_fb_index_login.FACEBOOK_APP_ID}',
  	status: true,
  	cookie: true,
  	xfbml: true,
     oauth: true
});
//]]>
</script>
<!-- END switch_fb_index_login -->


