<table width="100%" border="0" cellspacing="10" class="pageaccueil">
  
  <tr>
     <td width="50%" rowspan="7" valign="top" style="padding-right: 10px;"  >
        <div class="secondarytitle" style="width: 100%"><h2>Sujets récents</h2></div>
        <br />
        <div id="last-posted" style="height: 330px;"></div>
        <br />
        <div class="secondarytitle" style="width: 100%"><h2>Suivez-nous sur Twitter</h2></div>
        
        <a class="twitter-timeline"  href="https://twitter.com/CSSActif"  data-widget-id="303096322192441344">Tweets de @CSSActif</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </td>

    <td width="48">
      <img src="http://theme3.cssactif.com/accueil/aide.png">
    </td>
    <td>
      <a href="http://www.css-actif.com/f17-aide-css-xhtml"><h3>Aide CSS/xHTML</h3></a>
      Le codage peut représenter un réel défi. Heureusement, CSSActif peut vous aider à le surmonter ! 
    </td>
  </tr>

  <tr>
    <td width="48"><img src="http://theme3.cssactif.com/accueil/tutoriels.png"></td>
    <td >
      <a href="http://www.css-actif.com/f13-pas-a-pas"><h3>Tutoriels pas à pas</h3></a>
      Tutoriels orientés ForumActif qui vous permettrons d'apprendre et de comprendre les possibilités qu'apportent le HTML & CSS à votre forum.
    </td>
  </tr>
  <tr>
    <td width="48" ><img src="http://theme3.cssactif.com/accueil/decryptage.png"></td>
    <td >
      <a href="http://www.css-actif.com/f75-decryptage"><h3>Décryptage</h3></a>
      Les templates forumactifs sont des codes complexes. Le Décryptage a pour objectif de les rendre accessibles au plus grand nombre.  
    </td>
  </tr>
   <tr>
    <td width="48" ><img src="http://theme3.cssactif.com/accueil/personalisationfa.png"></td>
    <td >
      <a href="f10-personnalisation-fa"><h3>Personnalisation Forumactif</h3></a>
      Des codes qui opèrent directement sur la structure de votre Forumactif pour une personnalisation réussie. 
   </td>
  </tr>
   <tr>
    <td width="48" ><img src="http://theme3.cssactif.com/accueil/codescc.png"></td>
    <td >
      <a href="/f3-codes-a-copier-coller"><h3>Codes à Copier/Coller</h3></a>
      Indépendants de la structure d'un Forumactif, les codes CSS & HTML à copier & coller peuvent sur n'importe quelle page HTML. 
    </td>
  </tr>
   <tr>
    <td width="48" ><img src="http://theme3.cssactif.com/accueil/ressources.png"></td>
    <td >
      <a href="/f9-ressources-css-html"><h3>Ressources</h3></a>
      Ressources qui peuvent vous aider à coder le CSS ou le HTML de votre forum. Il s'agit de la trousse du parfait petit codeur. 
    </td>
  </tr>
   <tr>
    <td width="48"><img src="http://theme3.cssactif.com/accueil/conseilsavis.png"></td>
    <td>
      <a href="/f45-conseils-avis"><h3>Conseils &amp; Avis</h3></a>
      Recueillir les conseils de la communauté vous permettra d'apporter la touche finale à votre projet.  
    </td>
  </tr>
</table>

<div id="vraie_navigation_div">
  <a class="mainmenu" href="/forum" class="sprite-icon_mini_login" src="http://illiweb.com/fa/empty.gif" border="0" height="13" hspace="2" alt="Aller au forum" title="Aller au forum">Aller au forum</a>
</div>