<center> <img src="http://theme3.cssactif.com/leftsidehr.png" /></center>
            
            <h4>Tutoriels &amp; Codes du moment</h4>  
            
            <div align="center">Cours débutant <a href="http://www.cssdebutant.com" title="cours css/html" style="font-size: 12px;">CSS </a></div>
               <div style="width: 200px; margin-left: auto; margin-right: auto; margin-top: 5px;">
               <div class="slider-wrapper theme-default" >
                  <div class="ribbon"></div>
                  <div id="slider" class="nivoSlider">
                     <a href="http://www.css-actif.com/t11010-tableau-de-partenaires-avec-effet-zoom"><img src="http://upload.cssactif.com/image/1334061042.png" title="Partenaires avec effet Zoom " /></a>
                     <a href="http://www.css-actif.com/t10834-guide-de-bonne-conduite-a-l-usage-des-codeurs"><img src="http://upload.cssactif.com/image/1334247780.png" title="Guide de bonne conduite à l'usage des codeurs" /></a>
                     <a href="http://www.css-actif.com/t11021-formulaire-de-connexion-rapide-ameliore#115732"><img src="http://upload.cssactif.com/image/1334290226.png" title="Connexion rapide améliorée" /></a>
                     <a href="#"><img src="http://i40.servimg.com/u/f40/17/20/10/97/avenir10.png" title="Bientôt disponible ! " /></a>
                  </div>  
               </div>
            </div>
            
            <center><img src="http://theme3.cssactif.com/leftsidehr.png" /></center>

            <script type="text/javascript">
             $(window).load(function() {
                 $('#slider').nivoSlider();
             });
             </script>